<string>Olá, {{ provider }}</string>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
  <string>Cliente: </string> {{ user }} <br />
  <string>Data/hora: </string> {{ date }} <br />
  <br />
  <small>
    O horário está novamente disponível para novos agendamentos.
  </small>
</p>
